<div class="container mb-5 mt-5">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Apagar Usuário</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">Você tem certeza que deseja apagar essa a conta do usuario
                {{usuario.usuario}}?</h4>
        </div>
    </div>

    <hr>
    <div class="align-items-center">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{usuario.foto}}" alt="Foto usuario">
            <div class="card-body">
                <p class="card-text">Nome: {{usuario.nome}}</p>
            </div>
        </div>
    </div>
    

    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-danger mr-4" routerLink='/inicio'>Não</button>
            <button class="btn btn-success" (click)='apagar()'>Sim</button>
        </div>
    </div>

</div>