
.anchor{
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
  }

.tam-header{
  height: 100vh;
}

@media(min-width: 800px){
  .tam-img{
      width: 600px !important;
      
  }
}

.mt-65{
  margin-top: 65px;
}

pre{
  font-size: 13pt;
  font-family: italic;
}